<button (click) = "buttonClick('from1')" [ngStyle]="{color : isActive?'red':'green'}">button1</button>
<button (click) = "buttonClick('from2')">button2</button>
<button (click) = "buttonClick('from3')">button3</button>

<div [ngSwitch]="localvar">
    <div *ngSwitchCase = "'from1'"> You Click from 1</div>
    <div *ngSwitchCase = "'from2'">"You Click from 2"</div>
    <div *ngSwitchCase = "'from3'">"You Click from 3"</div>   
    <div *ngSwitchDefault>No Button is Clicked</div>
</div>
<h1>{{dcValue | number:'1.0-2'}}</h1>
<h1>{{price | currency: "USD"}}</h1>
<h1>{{postArray | slice: 2:4}}</h1>


<!-- <h1>Root App HTML content</h1>
<p>{{varOutputChildtoParent}} </p>
<app-login [varpc]="title"  (messageEvent) = 'receiveMessage($event)'></app-login> -->